<%- include("partials/header") -%>

<div class="container">
  <h1>Mongotest</h1>

  <div class="container-fluid box">
    <h3>Links</h3>
    <div>
      <a href="/player">
        <button type="button" class="btn link">Player</button>
      </a>
    </div>
    <div>
      <a href="/season">
        <button type="button" class="btn link">Season</button>
      </a>
    </div>
  </div>
</div>

<%- include("partials/footer") -%>
